body {
    background-color: aqua;
    font: normal 15pt Arial;
}

header { 
    color: rgb(58, 4, 46);
    text-align: center;
    
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 10px 10px 20px black;
}
select#flista { /*caixa de lista */
    width: 150px;  /*largura da caixa de lista */
    border-radius: 10px; /*borda*/
}

footer {
    color: rgb(158, 21, 21);
    text-align: center;
    font-style: italic;
}

